# Copia este archivo como ".env" y ajusta los valores
PORT=3000
# Local (MongoDB instalado) o la cadena de conexión de MongoDB Atlas:
MONGODB_URI=mongodb://127.0.0.1:27017/minired
# Si publicas el frontend aparte (Netlify), pon aquí su dirección. "*" permite cualquiera.
CORS_ORIGIN=*
